# Dependances
node_modules/
.pnpm-store/

# Builds et Compilations
dist/
.next/
out/

# Base de donnees SQLite de production local (a conserver sur chaque PC)
backend/prisma/dev.db
backend/prisma/dev.db-journal
*.db
*.db-journal

# Fichiers d'environnement et logs
.env
.env.local
*.log
backups/
backend/storage/
*.tsbuildinfo
